<div id="loginOptionsContainer" style="display: none;">
    <img id="loginOptionBackground" src="./assets/images/loginoption.png">
    <div id="loginOptionsContent">
        <div class="loginOptionsMainContent">
            <span id="selAccount1">서버</span>
            <span id="selAccount2">에</span>
            <span id="selAccount3">접속</span>
            <span id="selAccount4">하실</span>
            <span id="selAccount5">계정</span>
            <span id="selAccount6">을</span>
            <span id="selAccount7">선택</span>
            <span id="selAccount8">해주세요!</span>
            <span id="selAccountEng">Please select an account.</span>
            <div class="loginOptionActions">
                <div class="loginOptionButtonContainer">
                    <button id="loginOptionMicrosoft" class="loginOptionButton">
                        <img id=""MICROSOFT" src="./assets/images/microsoft.png">
                    </button>
                </div>
                <div class="loginOptionButtonContainer">
                    <button id="loginOptionMojang" class="loginOptionButton">
                        <img id=""MOJANG" src="./assets/images/mojang.png">
                    </button>
                </div>
            </div>
            <div id="loginOptionCancelContainer" style="display: none;">
                <button id="loginOptionCancelButton">뒤로가기</button>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/loginOptions.js"></script>
</div>