<div id="loginOptionsContainer" style="display: none;">
    <img id="loginOptionBackground" src="./assets/images/new/login.png">
    <div id="loginOptionsContent">
        <div class="loginOptionsMainContent">
            <div class="loginOptionActions">
                <div class="loginOptionButtonContainer">
                    <button id="loginOptionMicrosoft" class="loginOptionButton">
                        <img id=""MICROSOFT" src="./assets/images/new/microsoft.png">
                    </button>
                </div>
                <div class="loginOptionButtonContainer">
                    <button id="loginOptionMojang" class="loginOptionButton">
                        <img id=""MOJANG" src="./assets/images/new/mojang.png">
                    </button>
                </div>
            </div>
            <div id="loginOptionCancelContainer" style="display: none;">
                <button id="loginOptionCancelButton">뒤로가기</button>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/loginOptions.js"></script>
</div>