<div id="waitingContainer" style="display: none;">
    <div id="waitingContent">
        <div class="waitingSpinner"></div>
        <div id="waitingTextContainer">
            <h2 id="waitingText">마이크로소프트 응답 대기 중..</h2>
        </div>
    </div>
</div>