<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader">꿀벌 온라인에 오신 것을 환영합니다!</span>
        <span id="welcomeDescription">역대 최고의 모드 현실경제 서버를 즐겨보세요!<br>꿀벌 온라인은 당신이 지금까지 겪어보지 못한 현실경제를 보여줍니다!</span>
        <br>
        <span id="welcomeDescCTA">아래 버튼을 눌러 다음으로 이동해보세요!</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                다음으로
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>